<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535407607880-lalps4i4nrjm6l5appduiiiven88c8ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535407607880-lalps4i4nrjm6l5appduiiiven88c8ab</string>
	<key>API_KEY</key>
	<string>AIzaSyCO_NgdjNkurXGO7n6Uo4uVGWJKp9x6qvg</string>
	<key>GCM_SENDER_ID</key>
	<string>535407607880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wunnakyaw.spinAround</string>
	<key>PROJECT_ID</key>
	<string>spin-around-wunnakyaw</string>
	<key>STORAGE_BUCKET</key>
	<string>spin-around-wunnakyaw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535407607880:ios:c03f5c024218f8c783987d</string>
</dict>
</plist>